body{
    font-family: Oswald, Arial;
}
.shoes-grid{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.shoe-img{
    width: 100%;
    object-fit: cover;
    height: 350px;
}
.shoe-box{
    border-color: black;
    border-style: solid;
    background-color: pink;
}
.shoe-name-box{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.shoe-name{
    font-size: 18px;
    font-family: Oswald, Arial;
    font-weight: 450;
}
.shoe-release-year{
    padding-top: 5px;
    padding-left: 5px;
    font-family: Oswald, Arial;
}
.brand{
    padding-top: 5px;
    padding-left: 5px;
    font-family: Oswald, Arial;
}
.shoe-features{
    padding-top: 5px;
    padding-left: 5px;
    font-family: Oswald, Arial;
    line-height: 19px;
}
.purchase-options{
    padding-bottom: 5px;
    height: 120px;
}
.shoe-general{
    height: 160px;
}
.price{
    padding-top: 5px;
    padding-left: 5px;
    font-family: Oswald, Arial;
}

.shoe-buy-links{
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-family: Oswald, Arial;
}
.shoe-details{
    margin: 0;
    padding: 0;
}
.detail-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 1px 0; /* Only top and bottom border */
    color: pink;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.shoe-review{
    padding-bottom: 5px;
}
.review-link{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-family: Oswald, Arial;
}
@media(max-width: 750px){
    .shoes-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 990px){
    .shoes-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
